.ben-nav {
	background: #AC987B;
}

.navbar-laravel {
	background: #AC987B;
}

.ben-body {
	background: #D9D9D9;
}

a:link {
	color: #663000;
}

a:visited {
	color: #663000;
}

a:hover {
	color: #663000;
}